{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload{% endblock %}</h1>
{% endblock %}

{% block content %}
<p> Here you may upload your chosen mp4 file to be hosted by EduFlix (powered by AWS).
Upload may take some time depending on your file size. Trust in us and you will be renavigated to
the MyVideos tab once it has succeeded. </p>


    <form method=post enctype=multipart/form-data>
      <input type=file name='file'>
      <label for="title">Video Title</label>
      <input name="title" id="title" required>
      <input type=submit value=Upload>
  </form>

{% endblock %}
