{% extends "base.html" %}
{% block title %}Welcome Home!{% endblock %}


{% block content %}

<h1>Welcome to EduFlix, the web app that lets you enjoy learning with friends</h1>




<p> Here at EduFlix we understand that covid has shifted
  learning environents across the world. We want to make it easy to collaborate
with your peers when you're learning. This tool will allow
educators to enable their students by providing them with a fun and
effective platform to watch their video content</p>


<img src="static/netflix_party.png" alt="Netflix Party!">
{% endblock %}
