{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Videos{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% for video in videos %}
  {% if g.user['id'] == video['owner_id'] %}
      <article class="post">
        <header>
          <div>
            <h1>{{ video['title'] }}</h1>
            <div class="about">Uploaded by {{ g.user['username'] }} on {{ video['created'].strftime('%Y-%m-%d') }}</div>
            <div class="about">{{ video['s3link'] }}</div>
            <a href="/myvideos/watch?s3link={{video['s3link']}}">Watch Here</a>
          </div>
        </header>
      </article>
    {% endif %}
    {% endfor %}



{% endblock %}
