<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>im going to fight this computer</title>
  </head>

  <body>
    <header>
    </header>
    <embed src="" width="180" height="90" loop="false" autostart="false" hidden="true" id="mainvideo"/>
    <h1>This should work maybe probably if the embedded video is linked to it [in src above]</h1>
    <h1>honestly if not I give up good luck with these files im going to go make everything that does work look nicer</h1>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
